
@{
    ViewBag.Title = "Index";
}

    <div style="text-align:center">
        <h2>PhotoBoom</h2>
        <h5>Welcome to your favourite website</h5>
        <br />
        @Html.ActionLink("My Photos", "List")
    </div>
